.box-one {
    max-width: 500px;
    animation-name: anime-box-one;
    animation-duration: 3s;
}
@keyframes anime-box-one {
    0% {
        width: 0;
    }
    90% {
        width: 90%;
        background-color: green;
    }
}
.container {
    border: 1px solid green;
    max-width: 500px;
    margin-bottom: 100px;
}
.text {
    display: block;
    border: 1px solid orange;
    width: 40px;
    background-color: orange;
}

.text {
    animation-name: anime-box-two;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.text:hover {
    animation-play-state: paused;
}
.box-two {
    margin-bottom: 200px;
}

@keyframes anime-box-two {
    0% {
        width: 40px;
    }
    50% {
        width: 300px;
        
    }
    100% {
        width: 600px;
        
    }
}


.wrapper {
    width: 200px;
    height: 200px;
    background-color: gray;
    border: 2px solid black;
}

.text_se {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellowgreen;
    border-radius: 50%;
    animation: anime-box-three 5s linear alternate;
}
.box-three {
    animation: anime-left 5s linear alternate;
}


@keyframes anime-box-three {
    0% {
        transform: translateY(1px);
    }
    25% {
        transform: translateY(90px);
    }
    40% {
        transform: translateY(180px);
    }
    50% {
        transform: translateY(100px);
    }
    70% {
        transform: translateY(180px);
    }
    85% {
        transform: translateY(150px);
            }
    100% {
        transform: translateY(180px);
            }
}

@keyframes anime-left {
    0% {
    transform: translateX(0);
    }
    50% {
    transform: translateX(90px);
    }
    100% {
    transform: translateX(180px);
    }
}
